.side_nav {
  background: #1b1b28;
  width: 12.5em;
  height: calc(100vh + 68px);
  float: left;
}
.complains {
  margin: 3em auto;

  #send {
    border: none;

    @include primary-button;

    &:hover {
      @include hover(primary);
    }
    &:active {
      @include click;
    }
  }

  input:not([type='submit']),
  select,
  textarea {
    background: none;
    color: #fff;
    padding: 0.5em 0.75em;
    border: 3px solid $secondary;
    @include border-radius-md;

    &:focus {
      outline: none;
      border-color: #b4b7d3;
    }
  }

  textarea {
    resize: none;
  }

  select * {
    background: $secondary;
  }
}

dialog {
  background: $primary;
  max-width: 30ch;
  height: 23em;
  padding: 0;
  border: none;
  color: $light;
  text-align: center;

  & > div {
    height: 100%;
  }

  .txt-details {
    margin: 1em 0 -2em 0;
  }

  @include border-radius-md;
  @include shadow($clr: $primary);

  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 0.75em;
  }

  #close-btn {
    @include primary-button;

    &:hover {
      @include hover(primary);
    }
    &:active {
      @include click;
    }
  }

  &[open] {
    animation: fade-in 100ms ease-in, slide-up 100ms ease-in;
  }

  &[close] {
    animation: fade-out 500ms ease-out, scale-out-in 500ms ease-in-out;
  }

  &::backdrop {
    background: $secondary;
    opacity: 0.4;
  }
}