.complains {
  margin: 3em auto;

  #send {
    border: none;

    @include primary-button;
    
    &:hover {
      @include hover(primary);
    }
    &:active {
      @include click;
    }
  }

  input:not([type='submit']),
  select,
  textarea {
    background: none;
    color: #fff;
    padding: 0.5em 0.75em;
    border: 3px solid $secondary;
    @include border-radius-md;

    &:focus {
      outline: none;
      border-color: #b4b7d3;
    }
  }

  textarea {
    resize: none;
  }

  select * {
    background: $secondary;
  }
}