.side_nav {
  background: #1b1b28;
  width: 12.5em;
  height: 100vh;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  float: left;
}

.dashboard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2em 0em;
  margin: 5em 0 0 0;

  .dashboard_item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: $secondary;
    height: 20em;
    width: 15em;
    padding: 0.75em;

    @include shadow($clr: $primary);
    @include border-radius-md;

    h1 {
      font-size: 2em;
      text-align: center;
      word-wrap: break-word;
    }

    img {
      height: em;
    }

    &:nth-child(1) img {
      @include shadow($clr: #ef586e, $blur: 30px);
    }

    &:nth-child(2) img {
      @include shadow($clr: #32d5aa, $blur: 20px);
    }

    &:nth-child(3) img {
      @include shadow($clr: #1766f9, $blur: 30px);
    }
  }
}
