@mixin shadow {
  filter: drop-shadow(0px 12px 16px #0000004d);
}

@mixin shadow($clr, $blur: 20px) {
  filter: drop-shadow(0px 12px $blur $clr);
}

@mixin super-shadow {
  box-shadow: 0px 101.333px 127.68px rgba(0, 0, 0, 0.15),
    0px 42.3346px 53.3417px rgba(0, 0, 0, 0.107828),
    0px 22.6341px 28.519px rgba(0, 0, 0, 0.0894161),
    0px 12.6885px 15.9875px rgba(0, 0, 0, 0.075),
    0px 6.73877px 8.49085px rgba(0, 0, 0, 0.0605839),
    0px 2.80415px 3.53323px rgba(0, 0, 0, 0.0421718);
}

@mixin primary-btn-color {
  background: linear-gradient(180deg, #5561ff 0%, #3643fc 100%, #3643fc 100%);
}

@mixin secondary-btn-color {
  background: #ffffff1a;
}

/* Border radius for large contents. Ex cards */
@mixin border-radius-lg($tl: 1.5em, $tr: 1.5em, $br: 1.5em, $bl: 1.5em) {
  border-radius: $tl $tr $br $bl;
}

/* Border radius for medium contents. Ex buttons */
@mixin border-radius-md($tl: 0.75em, $tr: 0.75em, $br: 0.75em, $bl: 0.75em) {
  border-radius: $tl $tr $br $bl;
}