@import 'resets';
@import 'mixins';
@import 'variables';
@import 'complain';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background: $primary;
  color: $light;
}

header{
    background: $primary;
    @include super-shadow;
    @include border-radius-md;

    .logo {
        font-weight: 700;
        font-size: 1.5em;
    }
}