@import 'resets';
@import 'mixins';
@import 'dashboard';
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background: $primary;
  color: $light;
}

header{
    background: $primary;
    @include super-shadow;
    @include border-radius-md;

    .logo {
        font-weight: 700;
        font-size: 1.5em;
    }
}
.card--login {
  background: $secondary;
  padding: 0.75em;
  margin: 1.5em;
  max-width: max-content;

  @include border-radius-lg;
  @include super-shadow;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aside--img {
    max-width: max-content;

    img {
      overflow: hidden;
      @include border-radius-md($br: 0, $bl: 0);
    }
  }

  .login--details {
    max-width: 50%;

    h1 {
      text-align: center;
    }
  }

  form {
    fieldset div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
    }

    fieldset input {
      background: none;
      color: $light;
      border: 3px solid #60648b;
      padding: 0.5em 0.75em;

      @include border-radius-md;

      &:focus {
        outline: none;
        border-color: #b4b7d3;
      }
    }

    .login--btn input {
      all: unset;
      border: none;
      @include primary-button;

      &:hover {
        @include hover(primary);
      }

      &:active {
        @include click;
      }
    }
  }
}